</div>
	<div class="footer">
		<div style="float:right">
		<a class="social icon-facebook2" href="#"></a><a class="social icon-twitter" href="#"></a><a class="social icon-instagram" href="#"></a>
		</div>
		<a href="/about">about</a> | <a href="/help">help</a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>
