<!doctype html>

<html>
<head>
	<title>Mom&pop</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Sniglet|Lily+Script+One|Patua+One|Viga|Ovo|Bitter:400,700,400italic|Flamenco|Hammersmith+One|Roboto:500' rel='stylesheet' type='text/css'>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/icomoon.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->				
</head>

<body>
	<div class="topbar">
		<a href="{{back}}" class="link-back head-link"><span class="icon-uniF489 smaller"></span><!-- <span class="backtext">back</span> --></a> 
		<a href="/" class="link-home head-link"><span class="icon-home smaller"></span></a>

		<h1 class="logo-name-sm">
			
			<a href="/" class="link-logo"><span class="logo-mom">Mom</span><span class="logo-and">&amp;</span><span class="logo-pop">pop</span></a>
		</h1>
			
	</div>
	<div class="container">