{{> header}}

	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1>About Mom&Pop</h1>

			<p> Definition of Mom & Pop: "a small business that is typically owned and run by members of a family"
			</p>
			<p>
				While the profliferation of huge retail chains have reduced
				the consumer market for independent stores, many of these 
				locally owned businesses continue to thrive. 
			</p>
			<p>
				The Mom&pop application is inspired by the many independently 
				owned and operated stores located in cities. The stores you 
				will find through this application offer a shopping alternative 
				to consumers who want to deal with businesses that are local 
				to a given city.
			</p>

		</div>
	</div>

{{> footer}}