{{> header}}

		{{#if catdesserts}}

			<!-- Google Analytics Content Experiment code -->
				<script>function utmx_section(){}function utmx(){}(function(){var
				k='82818263-1',d=document,l=d.location,c=d.cookie;
				if(l.search.indexOf('utm_expid='+k)>0)return;
				function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
				indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
				length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
				'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
				'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
				'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
				valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
				'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
				</script><script>utmx('url','A/B');</script>
			<!-- End of Google Analytics Content Experiment code -->

		{{/if}}

		{{#if catcoffee}}
			<!-- Google Analytics Content Experiment code -->
				<script>function utmx_section(){}function utmx(){}(function(){var
				k='82818263-2',d=document,l=d.location,c=d.cookie;
				if(l.search.indexOf('utm_expid='+k)>0)return;
				function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
				indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
				length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
				'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
				'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
				'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
				valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
				'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
				</script><script>utmx('url','A/B');</script>
			<!-- End of Google Analytics Content Experiment code -->
		{{/if}}

		<h1 class="p-category" id="cat1"><span class="p-cat-icon {{icon}}"></span> <span class="cat-name">{{category}}</span></h1>
		<span class="is-multipage" style="display:none">{{multipage}}</span>
		<div class="row">
			<ul id="places">
			</ul>
			<div class="more">
				<a href="#" class="btn btn-more btn-lg btn-block">more</a>
			</div>
			<div class="suggest">
				<a href="/suggest?cat={{category}}" class="btn btn-more btn-block">Did we miss any Mom and Pop locations?<br>Let us know!</a>
			</div>
		</div>
	</div>

{{> footer}}