{{> header}}

		<h1 class="p-category"><span class="p-cat-icon {{icon}}"></span> <span class="cat-name">{{category}}</span></h1>
		<div id="map-all-stores-panel" class="row pm2"></div>

			<div class="suggest">
				<a href="/suggest?cat={{category}}" class="btn btn-more btn-block">Did we miss any Mom and Pop locations?<br>Let us know!</a>
			</div>


{{> footer}}