{{> header}}

		<h1 class="p-category"><span class="p-cat-icon {{icon}}"></span> <span class="cat-name">{{category}}</span></h1>
		<span class="is-multipage" style="display:none">{{multipage}}</span>
		<div class="row">
			<ul id="places">
			</ul>
			<div class="more">
				<a href="#" class="btn btn-more btn-lg btn-block">more</a>
			</div>
			<div class="suggest">
				<a href="/suggest?cat={{category}}" class="btn btn-more btn-block">Is your favorite mom and pop store not listed? Suggest one!</a>
			</div>
		</div>
	</div>

{{> footer}}