{{> header}}

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
	<script src="/js/map.js"></script>

	<script>
		google.maps.event.addDomListener(window, 'load', function() {
			setDisplayTo("{{address}}", 'map-panel');
		});
	</script>

	<div id="place-info" class="row">
		<div class="col-md-12 col-xs-12">
		<h1 id="place-name">
			{{place}}
		</h1>
		<a href="/places/{{category}}/{{id}}">&lt; back to info</a>
	</div>
	</div>

	<div id="map-panel" class="row pd"></div>

	<div class="row">
		<div class="col-md-12 col-xs-12" id="directions">
		</div>
	</div>

{{> footer}}