{{> header}}

	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1>Help</h1>

			<p>Step 1) click any category from home page</p>
			<p>Step 2a) click any store you're interested in for more information</p>
			<p>Step 2b) load more stores if you're still not satisfied</p>
			<p>Step 3) click GO to map directions from current location</p>
			<p>*repeat twice daily for the rest of your life*</p>


		</div>
	</div>

{{> footer}}