body {
     background: #d0d0d0 url('../images/texturetastic_gray.png') top left repeat;
     color:#766759;
     font-family: Bitter, Georgia, serif;
}

a, a:active, a:hover {
  text-decoration: none;
}

a {
  color:#286F7E;
}

a:hover {
  color:#084F5E;
}

a:hover .l-lt {
  color:#898989;
}

.logo-name {
  text-align: center;

}

#store-hrs {
  display:none;
}

.logo-name a, .logo-name-sm a {
  color:#F2AA39;
  text-shadow:
   -2px -2px 0 rgba(255,255,255,0.5),  
    2px -2px 0 rgba(255,255,255,0.5),
    -2px 2px 0 rgba(255,255,255,0.5),
     2px 2px 0 rgba(255,255,255,0.5);
}

.city {
  font-family: Flamenco, Bitter, Georgia, serif;
  font-weight: bold;
  font-size:16px;
  text-align:center;
  text-transform: uppercase;
  margin-top: 5px;
  color:#D28A19;
  text-shadow:
   -2px -2px 0 rgba(255,255,255,0.3),  
    2px -2px 0 rgba(255,255,255,0.3),
    -2px 2px 0 rgba(255,255,255,0.3),
     2px 2px 0 rgba(255,255,255,0.3);
}


.container {
  padding-bottom: 30px;
}

.logo-mom {
  font-family: 'Lily Script One', serif;
  z-index:1;
}

.logo-and {
  display:inline-block;
  position:relative;
  width:40px;
  height:40px;
  font-size:40px;
  font-family: 'Ovo', serif;
  background: rgba(255,255,255,0.75);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

.logo-pop {
  font-family: 'Sniglet', sans-serif;
  position:relative;
  left:-4px;
  z-index:1;
}

.logo-name-sm {
  font-size:24px;
  text-align: right;
}

.logo-name-sm .logo-and {
  width:24px;
  height:24px;
  font-size:24px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  text-align:center;
}

.backtext {
  font-size: 12px;
  vertical-align:4px;
  margin-left:2px;
}

.link-back {
  float: left;
  display: block;
}

.link-home {
  text-align: center;
}

.smaller {
  font-size:80%;
}

.category {
  font-size:18px;
  text-transform:lowercase;
}

.category a {
  color:#FFB33C;
}

.p-category, #place-name {
  font-family: 'Sniglet', serif;
  font-size:36px;
  text-transform: capitalize;
  text-align: center;
  color:#f49f1a;
}

.p-cat-icon {
  font-size: 25px;
}

.topbar {
  background:rgba(255,255,255,0.4);
}

.topbar h1 {
  margin:0;
  padding:12px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  text-align: center;
}

h4 {
  font-family:'Bitter', sans-serif;
}

.dir-link {
  font-family: 'Sniglet', sans-serif;
  font-size:18px;
}

.info {
  font-weight:bold;
}

.cat-icon {
  font-size:36px;
  color:#222222;
  padding:15px;
  opacity:0.8;
  margin-bottom: 3px;
}

.cat-icon:hover {
  opacity:1;
}

.more-info {
  display: none;
}

.icon-star, .icon-star-half {
  margin-right:3px;
}

a.cat-link {
  display: block;
  text-decoration:none;
  /* font-weight: bold; */
}

#places {
  margin:0;
  padding:0;
}

#places li {
  list-style: none;
  margin: 5px 10px;
  padding: 10px;
  background: rgba(255,255,255,0.2);
  border-bottom: rgba(150,150,150,0.5) 3px solid;
}

.place .title {
  color: #185F6E;
  font-size:24px;
}

.place .info {
  font-size:14px;
}

.place .next {
  height:100%;
  font-size:20px;
  line-height:40px;
  font-family:'Flamenco', sans-serif;
  float:right;
  display:inline-block;
  vertical-align: middle;
  text-align:center;
  width:40px;
  height:40px;
  background:#339DA3;
  color:#dfdfdf;
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.place .rating {
  color:#EBD229;
  font-size:28px;
}



.footer {
  background:rgba(0,0,0,0.1);
  padding:15px;
  font-size:16px;
}

.social {
  padding-right:5px;
  font-size:18px;
}

.footer a {
  color:#7a7a7a;
}

a.open-down {
  float: left;
  font-size: 20px;
  padding-right:10px;
  position:relative;
  top:5px;
  color:#FFB33C;
}
/*
a.icon-uniF48B {
  color:#FFB33C;
}

a.icon-uniF48A {
  color:#FF803C;
}*/

.pm {
	height: 150px;
}

.pm2 {
  height: 325px;
}

.pd {
	height: 200px;
}

#cat-coffee {
	color: #c6842f;
}

#cat-desserts {
	color: #48c5ae;
}

#cat-restaurants {
	color: #bbc111;
}

#cat-clothing {
	color: #bb2f67;
}

#cat-trinkets {
	color: #8dbb75;
}

#cat-music {
	color: #368e68;
}

#place-info {
	margin-bottom:30px;
}

#directions_panel {
	display:none;
}

.store-image {
	max-height:150px;
	overflow:hidden;
}