body {
     background: #343434 url('../images/debut_dark.png') top left repeat;
     color:#a7c8a5;
     font-family: Bitter, Georgia, serif;
}

a, a:active, a:hover {
  text-decoration: none;
}

a:hover .l-lt {
  color:#898989;
}

.logo-name {
  text-align: center;
}

.logo-name a, .logo-name-sm a {
  color:#FFB33C;
}

.container {
  padding-bottom: 30px;
}

.logo-mom {
  font-family: 'Lily Script One', serif;
}

.logo-and {
  display:inline-block;
  position:relative;
  width:40px;
  height:40px;
  font-size:40px;
  font-family: 'Ovo', serif;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  z-index:2;
}

.logo-pop {
  font-family: 'Sniglet', sans-serif;
  position:relative;
  left:-4px;
  z-index:1;
}

.logo-name-sm {
  font-size:24px;
}

.logo-name-sm .logo-and {
  width:24px;
  height:24px;
  font-size:24px;
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
  text-align:center;
}

.category {
  font-size:18px;
  text-transform:lowercase;
}

.category a {
  color:#FFB33C;
}

.p-category {
  font-family: 'Sniglet', serif;
  font-size:36px;
  text-transform: capitalize;
  text-align: center;
  color:#FFB33C;
}

.p-cat-icon {
  font-size: 25px;
}

.topbar {
  background:rgba(255,255,255,0.2);
}

.topbar h1 {
  margin:0;
  padding:12px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  text-align: center;
}

.cat-icon {
  font-size:36px;
  color:#222222;
  padding:15px;
  opacity:0.8;
  margin-bottom: 3px;
}

.cat-icon:hover {
  opacity:1;
}

.more-info {
  display: none;
}

a.cat-link {
  display: block;
  text-decoration:none;
}

#places {
  margin:0;
  padding:0;
}

#places li {
  list-style: none;
  margin: 5px 10px;
  padding: 10px;
  background: rgba(150,150,150,0.5);
}

.place .title {
  font-size:24px;
}

.place .info {
  font-size:14px;
}

.place .next {
  font-size:20px;
  font-family:'Sniglet', sans-serif;
  float:right;
  vertical-align: center;
  position:relative;
  top:8px;
  background:#339DA3;
  color:#dfdfdf;
  padding:5px 9px;
  margin-right:5px;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.place .rating {
  font-size:28px;
}



.footer {
  background:rgba(255,255,255,0.2);
  padding:15px;
  font-size:16px;
}

.social {
  padding-right:5px;
  font-size:18px;
}

.footer a {
  color:#bfbfbf;
}

a.open-down {
  float: left;
  font-size: 20px;
  padding-right:10px;
  position:relative;
  top:5px;
  color:#FFB33C;
}
/*
a.icon-uniF48B {
  color:#FFB33C;
}

a.icon-uniF48A {
  color:#FF803C;
}*/

.pm {
	height: 200px;
}

.pd {
	height: 400px;
}

#cat-coffee {
	color: #c6842f;
}

#cat-desserts {
	color: #48c5ae;
}

#cat-restaurants {
	color: #bbc111;
}

#cat-clothing {
	color: #bb2f67;
}

#cat-trinkets {
	color: #8dbb75;
}

#cat-music {
	color: #368e68;
}

#place-info {
	margin-bottom:30px;
}