body {
     background: #343434 url('../images/debut_dark.png') top left repeat;
     color:#97B895;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  text-align: center;
}

.cat-icon {
  font-size:56px;
  color:#222222;
  padding:15px;
  opacity:0.8;
}

.cat-icon:hover {
  opacity:1;
}

.more-info {
  display: none;
}

a.cat-link {
  display: block;
  text-decoration:none;
}

#places {
  margin:0;
  padding:0;
}

#places li {
  list-style: none;
  margin: 5px 10px;
  padding: 10px;
  background: rgba(150,150,150,0.5);
}

.place .title {
  font-size:24px;
}

.place .info {
  font-size:14px;
}

.place .next {
  font-size:38px;
  float:right;
}

.place .rating {
  font-size:28px;
}